import store from '../store'
import { fetchGalaxyDetails } from '../actions'

class {
  onMount() {
    store.subscribe(this.handleStore = this.handleStore.bind(this))

    store.dispatch(fetchGalaxyDetails())
  }
  handleStore() {
    this.forceUpdate()
  }
  onDestroy() {
    store.unsubscribe(handleStore)
  }
  dispatch(type) {
    store.dispatch(fetchGalaxyDetails())
  }
}

div -- ${JSON.stringify(input)}
  button on-click('dispatch', 'FETCH_GALAXY')
