import store from './store'
import { router, server } from './api'

class {
  onCreate() {
    console.log(router)
    server.use(router)
  }
  onMount() {
    store.subscribe(() => {
      this.forceUpdate()
    })
  }
}

if(store.getState().game.inGame)
  Game(store.getState())
else
  Menu